<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>
    <header th:replace="fragments :: header"></header>


    <p th:if="${param.success}">You've successfully registered your account! Please <a href="/timer">login</a> now.</p>

    <form th:action="@{/create-account}" method="post" th:object="${user}">
        <div>
            <label for="username">
                Username
            </label>
            <input id="username" th:field="*{username}" required autofocus="autofocus">
        </div>

        <div>
            <label for="password">
                Password
            </label>
            <input id="password" th:field="*{password}" type="password" required autofocus="autofocus">
        </div>

        <div>
            <label for="goal">
                Daily Goal
            </label>
            <input id="goal" th:field="*{goal}" required autofocus="autofocus">
        </div>

        <input type="submit" value="Create Account">
    </form>
</body>
</html>