<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:replace="fragments :: header"></header>
    <div th:if="${param.success}">
        <p>Your goal has been updated.</p>
    </div>
    <form th:action="@{/edit-goal}" method="post">
        <label for="goal">Daily Goal: </label>
        <input type="text" id="goal" name="goal" required style="width: 15px;"><p style="display: inline;"> blocks</p><br><br>
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>