<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <a href="login">Login</a>
        <h1>Edit Daily Goal</h1>
        <nav th:replace="fragments :: navigation"></nav>
    </header>
    <form>
        <label for="goal">Daily Goal: </label>
        <input type="text" id="goal" name="goal" style="width: 15px;"><p style="display: inline;"> blocks</p><br><br>
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>